version: "3"
services:
       db_mssql:
         image: {{ image }}
         container_name: {{ container_name }}
         network_mode: "host"
         restart: always
         environment:
           - SA_PASSWORD={{ password }}
           - ACCEPT_EULA='Y'
           - MSSQL_TCP_PORT={{ port }}
         volumes:
           - {{ volume }}:/var/opt/mssql
